<!-- About Section -->
<section id="about">
    <!-- Container -->
    <div class="container">
        <!-- About wrapper -->
        <div class="about-wrapper">
            <div class="after"><h1>Over Ons</h1></div>
            <div class="content">
                <h5 class="title mb-3">Nood aan een fotostudio?</h5>
                <!-- row -->
                <div class="row">
                    <div class="col">
                        <p>Hebt u nood aan een fotostudio voor een korte of een lange shoot, maar geen zin om zelf te investeren in ruimte en materiaal?</p>
                        <p><b>Wees welkom in in onze professioneel uitgeruste studio</b></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dignissimos modi molestias voluptas possimus perferendis saepe soluta accusantium, obcaecati neque quas ducimus, alias labore nesciunt atque ab voluptatibus quis! Molestiae dicta reprehenderit, quod laborum voluptatem laboriosam! Sapiente vel, fugiat voluptates.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quis!</p>
                    </div>
                    <div class="col">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda soluta nisi cumque nostrum porro repellat iusto neque quos asperiores, aliquam.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quis!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dignissimos modi molestias voluptas possimus perferendis saepe soluta accusantium, obcaecati neque quas ducimus, alias labore nesciunt atque ab voluptatibus quis! Molestiae dicta reprehenderit, quod laborum voluptatem laboriosam! Sapiente vel, fugiat voluptates.</p>
                    </div>
                </div><!-- End of Row -->                   
                <a href="javascript:void(0)">Read More...</a>
            </div>
        </div><!-- End of About Wrapper -->         
    </div>  <!-- End of Container-->        
 </section><!--End of Section -->