<!-- section -->
<section id="contact">
    <!-- Container -->
    <div class="container">
        <div class="after"><h1>Contact</h1></div>
        <!-- row -->
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6">
                <div class="img-wrapper">
                    <img src="/assets/imgs/profile.jpg" class="w-100" alt="Over ons">
                </div>
            </div>
            <div class="col-md-5">
                <h6 class="title mb-3">Contacteer ons</h6>

                <p class="mb-5">Vragen? Opmerkingen? Hebt u nood aan een persoonlijke aanpak, contacteer ons via email of telefoon en wij helpen u graag verder.</p>
        
                <p>
                    <i class="ti-location-pin"></i> <a href="https://goo.gl/maps/kdAvtpX2GAqtF4Ke6" target="_blank">Markekerkstraat 40 - 8510 Marke</a><br>
                    <i class="ti-email"></i> <a href="mailto:{{ site.social_email }}" target="_blank">{{ site.social_email }}</a><br>
                    <i class="ti-mobile"></i> <a href="tel:{{ site.social_phone }}">{{ site.social_phone }}</a>
                </p>

                <p class="mb-3">Wenst u gebruik te maken van de studio dan kan u steeds online een reservatie maken via onderstaande knop:</p>
               
                               
                <button class="btn btn-secondary btn-sm btn-book" {% include calendly_action.html location="contact" %}>Studio boeken</button>
            </div>
        </div>
        <!-- End of Row -->
    </div>  
    <!-- End of Container -->
</section><!-- End of Section -->