<!-- section -->
<section id="contact">
    <!-- Container -->
    <div class="container">
        <div class="after"><h1>Contact</h1></div>
        <!-- row -->
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6">
                <div class="img-wrapper">
                    <div class="after"></div>
                    <img src="assets/imgs/profile.jpg" class="w-100" alt="Over ons">
                </div>
            </div>
            <div class="col-md-5">
                <h6 class="title mb-3">Contacteer ons</h6>

                <p class="mb-5">Vragen? Opmerkingen? Hebt u nood aan een persoonlijke aanpak, contacteer ons via email of telefoon en wij helpen u graag verder.</p>
        
                <p class="">
                    Email: <a href="mailto:info@fotostudiokortrijk.be">info[at]fotostudiokortrijk.be</a>
                    <br>
                    Mobiel: +32 497 21 33 04
                </p>

                <p class="mb-3">Wenst u gebruik te maken van de studio dan kan u steeds online een reservatie maken via onderstaande knop:</p>
               
                
                <button class="btn btn-outline-secondary btn-sm btn-book" {% include calendly_action.html location="contact" %}>Studio boeken</button>
            </div>
        </div>
        <!-- End of Row -->
    </div>  
    <!-- End of Container -->
</section><!-- End of Section -->