<!-- Section -->
<section class="pb-0">
    <!-- Container -->
    <div class="container">
        <!-- Pre footer -->
        <div class="pre-footer">
            
            
            {% include footer/about.html %}

            {% include footer/contact.html %}

            {% include footer/links.html %}

        </div><!-- End of Pre footer -->            

        <!-- foooter -->
        <footer class="footer">            
            <p>&copy; 2022-<script>document.write(new Date().getFullYear())</script> <a href="https://fotostudiokortrijk.be">Fotostudio Kortrijk</a> - Alle rechten voorbehouden</p>
        </footer><!-- End of Footer-->  
        
    </div><!--End of Container -->      
</section><!-- End of Section -->