<!-- Page Header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content">
        <p>Op zoek naar een professioneel uitgeruste fotostudio te huur in regio Kortrijk?<br>Wenst u uw creatieve ideëen uit te werken in alle rust met het nodige materiaal?</p>
        <h6>Dan bent u aan het juiste adres!</h6>
        <button class="btn btn-outline-light btn-secondary" {% include calendly_action.html %}>Boek nu!</button> 
        <a href="#studio" class="btn btn-outline-light btn-primary">Meer info!</a> 
    </div>      
</header><!-- End of Page Header -->