<!-- Page Header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content">
        <p>Op zoek naar een professioneel uitgeruste fotostudio te huur in regio Kortrijk?<br>Wenst u uw creatieve ideëen uit te werken in alle rust met het nodige materiaal?</p>
        <h6>Wij helpen u graag verder!</h6>
        <button class="btn btn-secondary btn-book" {% include calendly_action.html location="header" %}>Boek nu!</button>
        <a href="#contact" class="btn btn-outline-light smooth-nav">Contacteer ons</a> 
    </div>      
</header><!-- End of Page Header -->