<!-- Contact Section -->
<section id="location" class="text-center">
    <h2 class="mt-3 mb-5 pb-5">Bereikbaarheid</h2>
    <!-- container -->
    <div class="container mb-5">
        <p>De studio is gelegen in Marke, net buiten de ring van Kortrijk (R8), vlot bereikbaar vanaf de E17, E403 en A19.</p>
        <p><a href="https://goo.gl/maps/kdAvtpX2GAqtF4Ke6" class="btn btn-primary" target="_blank"><i class="ti-location-pin"></i> Markekerkstraat 40, 8510 Marke</a></p>

        <!-- row -->
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6">
                <div class="img-wrapper">
                    <img src="/assets/imgs/location_kortrijk.png" data-featherlight="/assets/imgs/location_kortrijk.png" class="w-100 clickable" alt="Location Kortrijk">
                </div>
                <br>
            </div>
            <div class="col-md-5">
                <h6 class="title mb-3">Route</h6>
                <p><strong>Vanaf de E403, uit richting Roeselare</strong>:<br>Neem afrit 1, Moorsele richting A19, Kortrijk</p>
                <p><strong>Vanaf de A19</strong>:<br>Aan het einde van de A19, rijd de R8 op richting Kortrijk-Zuid. Neem de 2e afrit, Marke</p>
                <p><strong>Vanaf de E403, uit richting Doornik</strong>:<br>Neem afrit Aalbeke richting E17, Gent-Brussel</p>
                <p><strong>Vanaf de E17</strong>:<br>Neem de afrit Kortrijk-Zuid en rijd vervolgens de R8 op richting Kortrijk-Noord. Neem de eerste afrit, Marke</p>
            </div>
        </div><!-- row -->
        
        <div class="row justify-content-between align-items-center">
            <div class="col-md-5">
                <h6 class="title mb-3">Ingang</h6>
                <p>De ingang van de studio bevindt zich achteraan nr 40. Om deze te bereiken rijdt u door de poortopening tussen nr. 42 en nr. 44. Volg dan de wegwijzers naar achteren.</p>
                <h6 class="title mb-3">Parking</h6>
                <p>De studio beschikt over 2 staanplaatsen vlak bij de ingang, zodat u makkelijk attributen en ander materiaal naar binnen kan brengen.<br>
                    De staanplaatsen bevinden zich aan uw rechterkant als u het terrein achteraan oprijdt en zijn gemarkeerd met bordjes.</p>
            </div>
            <div class="col-md-6">
                <div class="img-wrapper">
                    <img src="/assets/photos/gevel.png" data-featherlight="/assets/photos/gevel.png" class="w-100 clickable" alt="Location Marke">
                </div>
            </div>            
        </div>
        <!-- End of Row -->
    </div><!-- End of Container-->      
</section><!-- End of Contact Section -->