<!-- Contact Section -->
<section id="location" class="text-center">
    <!-- container -->
    <div class="container">
        <h1>Bereikbaarheid</h1>
        <p class="mb-5">Vragen? Opmerkingen? Hebt u nood aan een persoonlijke aanpak, contacteer ons via email of telefoon en wij helpen u graag verder.</p>
        

        <p>Wij zijn gelegen in Marke, net buiten de ring van Kortrijk (R8), vlot bereikbaar vanaf de E17, E403 en A19.</p>

        <img src="/assets/imgs/location_kortrijk.png" width="500" />
    </div><!-- End of Container-->      
</section><!-- End of Contact Section -->