<!-- Contact Section -->
<section id="location" class="text-center">
    <!-- container -->
    <div class="container">
        <h3 class="mt-3 mb-5 pb-5">Bereikbaarheid</h3>
        <p>Wij zijn gelegen in Marke, net buiten de ring van Kortrijk (R8), vlot bereikbaar vanaf de E17, E403 en A19</p>

        <!-- row -->
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6">
                <div class="img-wrapper">
                    <img src="/assets/imgs/location_kortrijk.png" class="w-100" alt="Location Kortrijk">
                </div>
            </div>
            <div class="col-md-5">
                <h6 class="title mb-3">Route</h6>
                <p><strong>Vanaf de E403, uit richting Roeselare</strong>:<br>Neem afrit 1, Moorsele richting A19, Kortrijk</p>
                <p><strong>Vanaf de A19</strong>:<br>Aan het einde van de A19, rijd de R8 op richting Kortrijk-Zuid. Neem de 2e afrit, Marke</p>
                <p><strong>Vanaf de E403, uit richting Doornik</strong>:<br>Neem afrit Aalbeke richting E17, Gent-Brussel</p>
                <p><strong>Vanaf de E17</strong>:<br>Neem de afrit Kortrijk-Zuid en rijd vervolgens de R8 op richting Kortrijk-Noord. Neem de eerste afrit, Marke</p>
            </div>
        </div><!-- row -->
        
        <div class="row justify-content-between align-items-center">
            <div class="col-md-5">
                <h6 class="title mb-3">Ingang</h6>
                <p>De ingang bevindt zich achteraan. Om deze te bereiken rijdt u door de poort tussen nr. 42 en nr. 44.</p>
                <h6 class="title mb-3">Parking</h6>
                <p>De studio beschikt over 2 staanplaatsen vlak bij de ingang, zodat u makkelijk attributen en/of koffers naar binnen kan brengen.</p>                
            </div>
            <div class="col-md-6">
                <div class="img-wrapper">
                    <img src="/assets/imgs/location_marke.png" class="w-100" alt="Location Marke">
                </div>
            </div>            
        </div>
        <!-- End of Row -->
    </div><!-- End of Container-->      
</section><!-- End of Contact Section -->