<!-- Page Navbar -->
<nav id="scrollspy" class="navbar page-navbar navbar-light navbar-expand-md fixed-top" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="navbar-brand smooth-nav" href="#top">
            <img src="/assets/imgs/logo_white_70.png" alt="Fotostudio Kortrijk" height="70" class="logo-light" />
            <img src="/assets/imgs/logo_blue_70.png" alt="Fotostudio Kortrijk" height="70" class="logo-dark" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#home">Start</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#opening">Opening</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#studio">Studio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#prijzen">Prijzen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#materiaal">Materiaal</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#testmonial">Testmonial</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>

                <li class="nav-item ml-md-4">
                    <button class="btn btn-secondary" {% include calendly_action.html %}>Boeken</button>
                </li>
            </ul>
        </div>
    </div>
</nav><!-- End of Page Navbar -->