<!-- section -->
<section id="opening">
    <!-- Container -->
    <div class="container">
        <!-- row -->
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6">
                <div class="img-wrapper">
                    <img src="assets/photos/flash.png" class="w-100" alt="Opening">
                </div>
            </div>
            <div class="col-md-5">
                <h6 class="title mb-3">Feestelijke opening</h6>
                
                <p>Op 25 juni openen wij feestelijk de deuren na een jaar hard werken. Wij nodigen u van harte uit om dat samen met ons te komen vieren tussen 10u en 17u.</p>
                <p class="text-highlight">Indien u er graag bij bent, registreer dan snel via onderstaande knop, zo kunnen wij ervoor zorgen dat we u optimaal kunnen ontvangen.</p>
                <a href="/opening?utm_source=website&utm_tag=block_opening" class="btn btn-secondary btn-sm">Registreer hier</a>
            </div>
        </div>
        <!-- End of Row -->
    </div>  
    <!-- End of Container -->
</section><!-- End of Section -->