<!-- Pricing Section -->
<section id="pricing">
    <!-- Container -->
    <div class="container">
        <!-- About wrapper -->
        <div class="about-wrapper">
            <div class="after"><h1>De prijzen</h1></div>
            <div class="content">
                <!-- row -->
                <div class="row">
                    <table class="table table-striped">
                       <thead>
                        <tr>
                            <th>Periode</th>
                            <th>Week</th>
                            <th>Weekend</th>
                        </tr>
                       </thead>
                        <tbody>
                            <tr>
                                <td>1 uur</td>
                                <td>55 EUR</td>
                                <td>60 EUR</td>
                            </tr>
                            <tr>
                                <td>2 uur</td>
                                <td>90 EUR</td>
                                <td>100 EUR</td>
                            </tr>
                            <tr>
                                <td>4 uur</td>
                                <td>150 EUR</td>
                                <td>190 EUR</td>
                            </tr>
                            <tr>
                                <td>8 uur</td>
                                <td>290 EUR</td>
                                <td>375 EUR</td>
                            </tr>
                            <tr>
                                <td>12 uur</td>
                                <td>420 EUR</td>
                                <td>550 EUR</td>
                            </tr>
                            <tr>
                                <td>Hele dag (8u-23u)</td>
                                <td>490 EUR</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Hele dag (8u-24u)</td>
                                <td>-</td>
                                <td>660 EUR</td>
                            </tr>
                            <tr>
                                <td>Heel weekend<br>(zaterdag & zondag telkens 8u - 24u)</td>
                                <td>-</td>
                                <td>999 EUR</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>ℹ️ Prijzen zijn exclusief BTW.</p>


                </div><!-- End of Row -->
            </div>
        </div><!-- End of About Wrapper -->
    </div>  <!-- End of Container-->
 </section><!--End of Section -->