<!-- Pricing Section -->
<section id="prijzen">
    <!-- Container -->
    <div class="container">
        <!-- About wrapper -->
        <div class="about-wrapper">
            <div class="after"><h1>De prijzen</h1></div>
            <div class="content">

                <ul class="nav nav-tabs" id="pricing-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="consumer-tab" data-toggle="tab" data-target="#pricing-consumer" type="button" role="tab">Particulier</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="professional-tab" data-toggle="tab" data-target="#pricing-professional" type="button" role="tab">Professioneel</button>
                    </li>
                </ul>
                <div class="tab-content" id="pricing-tabs-content">
                    <div class="tab-pane fade show active" id="pricing-consumer" role="tabpanel">
                        <!-- row -->
                        <div class="row">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Periode</th>
                                        <th>Week</th>
                                        <th>Weekend</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2 uur</td>
                                        <td>80 EUR</td>
                                        <td>90 EUR</td>
                                    </tr>
                                    <tr>
                                        <td>4 uur</td>
                                        <td>150 EUR</td>
                                        <td>175 EUR</td>
                                    </tr>
                                    <tr>
                                        <td>8 uur</td>
                                        <td>290 EUR</td>
                                        <td>325 EUR</td>
                                    </tr>
                                    <tr>
                                        <td>12 uur</td>
                                        <td>420 EUR</td>
                                        <td>450 EUR</td>
                                    </tr>
                                    <tr>
                                        <td>Heel weekend<br>(zaterdag &amp; zondag telkens 8u - 24u)</td>
                                        <td>-</td>
                                        <td>750 EUR</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- End of Row -->
                        
                        <div class="row justify-content-end">
                            <p class="col-md-6">ℹ️ Prijzen zijn inclusief BTW</p>
                            <div class="col-md-2 offset-md-4">
                                <button class="btn btn-outline-secondary btn-block btn-book" {% include calendly_action.html a1="Particulier" %}>Boeken</button>
                            </div>
                        </div><!-- End of Row -->
                    </div>
                    <div class="tab-pane fade" id="pricing-professional" role="tabpanel">
                        <!-- row -->
                        <div class="row">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Periode</th>
                                        <th>Week</th>
                                        <th>Weekend</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2 uur</td>
                                        <td>80 EUR</td>
                                        <td>90 EUR</td>
                                    </tr>
                                    <tr>
                                        <td>4 uur</td>
                                        <td>150 EUR</td>
                                        <td>175 EUR</td>
                                    </tr>
                                    <tr>
                                        <td>8 uur</td>
                                        <td>290 EUR</td>
                                        <td>325 EUR</td>
                                    </tr>
                                    <tr>
                                        <td>12 uur</td>
                                        <td>420 EUR</td>
                                        <td>450 EUR</td>
                                    </tr>
                                    <tr>
                                        <td>Heel weekend<br>(zaterdag &amp; zondag telkens 8u - 24u)</td>
                                        <td>-</td>
                                        <td>750 EUR</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- End of Row -->

                        <div class="row justify-content-end">
                            <p class="col-md-6">ℹ️ Prijzen zijn exclusief BTW</p>
                            <div class="col-md-2 offset-md-4">
                                <button class="btn btn-outline-secondary btn-block btn-book" {% include calendly_action.html a1="Bedrijf" %}>Boeken</button>
                            </div>
                        </div><!-- End of Row -->
                    </div>
                </div>
            </div>
        </div><!-- End of Pricing Wrapper -->
    </div>  <!-- End of Container-->
 </section><!--End of Section -->