<!-- Studio Section -->
<section id="studio">
    <!-- Container -->
    <div class="container">
        <!-- Studio wrapper -->
        <div class="about-wrapper">
            <div class="after"><h1>De Studio</h1></div>
            <div class="content">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-6">
                        <h6>Fotografie</h6>
                        <p>Op zoek naar een fotostudio voor een korte of lange shoot, maar beschikt u niet over de nodige ruimte of materiaal?</p>
                        <p>Dan bent u bij ons aan het juiste adres! Wij beschikken over een <b>professioneel uitgeruste studio</b> waar u in alle rust en privacy uw creativiteit de vrije loop kan laten.</p>
                        <p>Onze studio beschikt over professionele flitsers en de nodige attributen om precies de scene te creëeren die u wenst!</p>
                        <p>Naast een breed gamma aan softboxen en paraplu's, voorzien wij ook een rookmachine, bubbelmachine en ventilator.</p>

                        <h6>Videografie</h6>
                        <p>Ook voor het maken van video content kan u bij ons terecht, dankzij de krachtige model-lampen van de flitsers, of gebruik makend van de beschikbare LED buizen, kan u steeds rekenen op een professioneel resultaat voor uw video's.</p>
                    </div>
                    <div class="col-lg-6">
                        <h6>Inrichting</h6>
                        <p>De studio ruimte is ingericht in neutrale kleuren, met witte muren en een warme houten vloerbekleding, die zich uitstekend leent voor een moderne strakke setting.</p>
                        <p>Daarnaast beschikken wij ook over een ruime selectie achtergrond papier in verschillende kleuren, waaronder wit, green-key, roze, blauw, geel, rood, ... zodat u de juiste sfeer kan creëeren voor uw project.</p>
                        <p>De ruimte beschikt over een professionele make-up corner, zodat uw visagist vlot hun werk kan doen. Daarnaast is er een aparte omkleedruimte met toilet, zodat u ook voor langere sessies comfortabel kan werken.</p>
                        <h6>Ontdek ons</h6>
                        <p>Wenst u graag eens vrijblijvend langs te komen om de studio en al zijn mogelijkheden te ontdekken, dat kan! Wij maken graag een half uurtje tijd om u rond te leiden.</p>
                        <p>
                            <button class="btn btn-primary btn-book-recon" {% include calendly_action.html base="https://calendly.com/fotostudiokortrijk/kennismaking" %}>Graag even kennismaken?</button>
                        </p>
                    </div>
                </div><!-- End of Row -->
            </div>
        </div><!-- End of Studio Wrapper -->
    </div>  <!-- End of Container-->
 </section><!--End of Section -->