<!-- About Section -->
<section id="studio">
    <!-- Container -->
    <div class="container">
        <!-- About wrapper -->
        <div class="about-wrapper">
            <div class="after"><h1>De Studio</h1></div>
            <div class="content">
                <h5 class="title mb-3">Fotostudio te huur</h5>
                <!-- row -->
                <div class="row">
                    <div class="col">
                        <p>Hebt u nood aan een fotostudio voor een korte of een lange shoot, maar beschikt u niet over de nodige ruimte of materiaal?</p>
                        <p>Dan bent u bij ons aan het juiste adres! Wij bieden u een <b>professioneel uitgeruste studio</b> waar u in alle rust uw creativiteit de vrije loop kan laten.</p>
                        <p>Onze studio beschikt over professionele flitsers en attributen om precies het licht te creëeren dat u nodig hebt!</p>
                        <h6>Ook voor videografie</h6>
                        <p>Ook voor het maken van video content kan u bij ons terecht, dankzij de krachtige model-lampen van de flitsers, of gebruik makend van de beschikbare LED buizen, kan u steeds rekenen op een professioneel resultaat voor uw video's.</p>
                    </div>
                    <div class="col">
                        
                        <p>De ruimte is ingericht in neutrale kleuren, met witte muren en een neutrale houten vloerbekleding, die zich goed leent als basis canvas.</p>
                        <p>Daarnaast beschikken wij ook over een ruime selectie achtergrond papier in verschillende kleuren, waaronder wit, green-key, roze, blauw, geel, rood, ... zodat u de juiste sfeer kan creëeren voor uw project.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dignissimos modi molestias voluptas possimus perferendis saepe soluta accusantium, obcaecati neque quas ducimus, alias labore nesciunt atque ab voluptatibus quis! Molestiae dicta reprehenderit, quod laborum voluptatem laboriosam! Sapiente vel, fugiat voluptates.</p>
                    </div>
                </div><!-- End of Row -->
            </div>
        </div><!-- End of About Wrapper -->
    </div>  <!-- End of Container-->
 </section><!--End of Section -->