<h2>Contact</h2>

<div class="grid 
            2xl:grid-cols-5 
            xl:grid-cols-4 
            lg:grid-cols-3 
            md:grid-cols-2 
            sm:grid-cols-1 
            my-7">
{% for link in site.data.contact %}

        {% if link.URL %}

        <a class="flex"
           href="{{link.URL}}{% if link.Username %}/{{link.Username}}{% endif %}"
           target="_blank"
           rel="noopener noreferrer">
                <button class="links lg:m-5 md:5 sm:3.5 text-white hover:opacity-75 font-semibold my-2.5 mx-5 px-5 py-1.5 rounded-md w-full place-content-center h-14 w-32"
                        style="{% if link.Color %}
                                        background-color: {{link.Color}};
                                {% else %}
                                        color: white; 
                                        border: 0.10rem solid #ffffff;
                                {% endif %}
                        ">
                        <span id="link-content" {% if link.Text_Color %}style="color: {{link.Text_Color}};"{% endif %}>
                                <i class="{{link.Icon-Class}} align-middle"></i><span class="mx-1.5 align-middle">{{link.Name}}</span>
                        </span>
                </button>
        </a>

        {% endif %}

{% endfor %}
</div>
