{% assign page_title = site.name %}
{% assign page_description = site.tagline %}
{% assign page_url = site.tagline %}

<title>{{ site.title }}</title>

<script src="https://kit.fontawesome.com/609f7f6148.js" crossorigin="anonymous"></script>

<meta name="description" content="{{ page_description }}" />

<meta property="og:title" content="{{ page_title }}" />
<meta property="og:site_name" content="{{ page_title }}" />
<meta property="og:description " content="{{ page_description }}" />
<meta property="og:url" content="{{ page_url }}" />
<meta property="og:image" content="{{ site.image_url }}" />

<meta name="twitter:card" content="summary_large_image"></meta>
<meta name="twitter:creator" content="@vandenbusschebr"></meta>
<meta name="twitter:title" content="{{ page_title }}">
<meta name="twitter:description" content="{{ page_description }}">
<meta name="twitter:image" content="{{ site.image_url }}">        
<meta name="twitter:image:alt" content="Profile picture">
<meta property="twitter:url" content="{{ page_url }}">
