<p>
    Wij openen feestelijk op 25 juni 2023. Wens je er ook bij te zijn?
    <br>
    <a href="https://fotostudiokortrijk.be/opening">
        <button 
            class="links lg:m-5 md:5 sm:3.5 text-white hover:opacity-75 font-semibold my-2.5 mx-5 px-5 py-1.5 rounded-md w-full place-content-center h-14 w-32"
            style="background-color: #fdb735;-webkit-box-shadow: 0px 10px 25px 0px #d8971e;-moz-box-shadow: 0px 10px 25px 0px #d8971e;box-shadow: 0px 10px 25px 0px #d8971e;">
            <span id="link-content">
                <i class="fas fa-glass-cheers"></i>
                <span class="mx-1.5 align-middle">Registreer hier</span>
            </span>
        </button>
    </a>
</p>