.conditions {
    
    ul li {
        list-style-position: inside;
    }

    ol {
        counter-reset: item;
        margin-top: 5px;
    }

    ol li {
        display: block;
        margin-bottom: 10px;
    }

    ol > li::marker {
        font-weight: bold;
      }

    ol li:before {
        content: counters(item, ".") " ";
        counter-increment: item;
        margin-right: 10px;
    }

    h1 {
        text-decoration: underline;
        font-size: 2em;
        font-family: 'Titillium Web', $font-family-sans-serif
    }

    h2 {
        font-weight: 600;
        font-size: 1.1em;
        display: inline-block;
        font-family: 'Titillium Web', $font-family-sans-serif
    }
}