---
# layout: compress
---
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% include meta.html %}

        {% include analytics.html %}

        {% include calendly.html %}
        
        <!-- font icons -->
        <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">

        <!-- Bootstrap + Creative Design main styles -->
        <link rel="stylesheet" href="assets/css/creative-design.css">
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="40" id="top">
        {{ content }}

         <!-- core  -->
        <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
        <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

        <!-- bootstrap affix -->
        <script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

        <!-- Creative Design js -->
        <script src="assets/js/creative-design.js"></script>
    </body>
</html>