/* typography */
p {
	font-size: calc(13px + (14 - 13) * ((100vw - 300px) / (1300 - 300)));
	opacity: .8;
	color: $brand_dark_gray;
} 

.title {
	font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1300 - 300)));
}